@font-face {
  font-family: Aracne;
  src: url(/static/fonts/ARACNE_regular.ttf);
}
@font-face {
  font-family: AracneUC;
  src: url(/static/fonts/ARACNE-ULTRA-CONDENSED_regular.ttf);
}
@font-face {
  font-family: MonicasSalon;
  src: url(/static/fonts/MonicasSalonShadowNF.ttf);
}

/* basics */
body {
  margin: 0;
  background-color: #000;
  color: rgb(186, 200, 213);
}
a {
  text-decoration: none;
}

/* structure */
.column {
  width: 1000px;
  overflow: none;
  margin: 0 auto;
}
.half-col {
  width: 50%;
  overflow: none;
  float: left;
}

/* elements */
ul#navbar {
  width: 100%;
  overflow: auto;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #fff;
  margin: 0 0 1em 0;
}

ul#navbar li {
}

ul#navbar li a,
ul#navbar li a:visited {
  width: 200px;
  text-align: center;
  display: block;
  float: left;
  padding: .25em 0;
  font-family: Aracne;
  font-size: 18pt;
  color: rgb(186, 200, 213);
}

ul#navbar li a:hover,
ul#navbar li.active a {
  background-color: rgb(45,45,45);
}

.hero-unit {
  padding: .5em;
  margin: 4em 0 8em;
  text-align: center;
}
.hero-unit .lead {
  color: #fff;
  font-variant: small-caps;
  font-family: MonicasSalon;
  font-size: 5em;
  line-height: 1em;
}
.hero-unit .sub {
  text-transform: uppercase;
  font-family: Aracne;
  font-size: 12pt;
  color: rgb(201, 9, 213);
}

.bio-unit {
  font-family: AracneUC;
  font-size: 24pt;
  letter-spacing: 1px;
}

.portrait {
  padding-left: 1em;
}
.portrait img {
  width: 630px;
}
