@font-face {
  font-family: Aracne;
  src: url(/static/fonts/ARACNE_regular.ttf);
}
@font-face {
  font-family: AracneUC;
  src: url(/static/fonts/ARACNE-ULTRA-CONDENSED_regular.ttf);
}
@font-face {
  font-family: MonicasSalon;
  src: url(/static/fonts/MonicasSalonShadowNF.ttf);
}
@font-face {
  font-family: BlissfulThinking;
  src: url(/static/fonts/BlissfulThinking.otf);
}
@font-face {
  font-family: Champagne;
  src: url(/static/fonts/Champagne & Limousines.ttf);
}
@font-face {
  font-family: CaviarDreams;
  src: url(/static/fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: PrintClearly;
  src: url(/static/fonts/PrintClearly_TT.ttf);
}

/* basics */
body {
  margin: 0;
  background-color: #000;
  color: rgb(186, 200, 213);
  font-family: PrintClearly;
  font-size: 14pt;
}
body.isModal {
  overflow: hidden;
}
a {
  text-decoration: none;
}
p {
  margin: .5em 0;
  padding: 0 3em;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  padding: 0;
}
h3 {
  margin: 0;
}

/* structure */
.supercolumn {
  max-width: 1400px;
  min-height: 873px;
  margin: 0 auto;
  position: relative;
}
body.page-index .supercolumn {
  background: #000 url(/static/img/blindfolded.jpg) no-repeat -202px -327px;
}
body.page-contact .supercolumn {
  background: #000 url(/static/img/contact.jpg) no-repeat 100% 0;
}
.column {
  position: relative;
  width: 1000px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
}
.column a,
.column a:visited {
  color: #fff;
}
.column a:hover {
  color: rgb(201, 9, 213);
}
.half-col {
  width: 50%;
  overflow: none;
  float: left;
}
.half-col.first {
  padding-top: 3em;
}

.centered {
  text-align: center;
}

/* elements */
ul#navbar {
  width: 100%;
  overflow: auto;
  padding: 0 150px 0 100px;
  list-style: none;
  border-bottom: 1px solid rgba(255,255,255,.2);
  margin: 0 0 1em 0;
  font-family: Aracne;
}

ul#navbar li a,
ul#navbar li a:visited {
  width: 150px;
  text-align: center;
  display: block;
  float: left;
  padding: .25em 0;
  color: rgb(186, 200, 213);
}

ul#navbar li a:hover,
ul#navbar li.active a,
ul#navbar li.active a:hover {
  background-color: rgba(100,100,100,.2);
  background-color: rgba(100,100,100,.2);
}

.hero-unit {
  padding: .5em;
  margin: 4em 0 8em;
  text-align: center;
}
.hero-unit .lead {
  color: #fff;
  font-variant: small-caps;
  font-family: MonicasSalon;
  font-size: 5em;
  line-height: 1em;
}
.hero-unit .sub {
  text-transform: uppercase;
  font-family: Aracne;
  font-size: 12pt;
  color: rgb(201, 9, 213);
}

.bio-unit {
  font-family: AracneUC;
  font-size: 24pt;
  letter-spacing: 1.6px;
}

.portrait {
  padding-left: 1em;
}
.portrait img {
  width: 630px;
}

.bigdot span {
  color: rgb(201, 9, 213);
  font-size: 5em;
  line-height: .2em;
  vertical-align: -22px;
}

body.page-contact {
}


#book-now {
  position: absolute;
  top: -10px;
  height: 88px;
  width: 130px;
  left: 829px;
  background: transparent url(/static/img/book_now.png) no-repeat 0 0;
}
#book-now a {
  display: block;
  height: 88px;
  width: 130px;
}

/* book-an-aerialist overlay [[[ */
#book-dialog {
}
#book-dialog .content {
  font-size: 13pt;
  padding: 1em 400px 3em 1em;
  background: transparent url(/static/img/rigging_drawing_sm.png) no-repeat right top;
}
#book-dialog .content a,
#book-dialog .content a:visited {
  color: #fff;
}
#book-dialog .content a:hover {
  color: rgb(201, 9, 213);
}

#book-dialog .content p {
  padding: 0;
  margin: 0 0 1em 0;
}

#book-dialog .content ul {
  padding: 0 2.5em;
  list-style: lower-roman;
}
#book-dialog .content p,
#book-dialog .content ul li {
  margin-bottom: 2em;
}

.ui-dialog {
  z-index: 10;
  background-color: #000;
  border: rgb(201, 9, 213) 4px solid;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.ui-dialog-titlebar {
  text-align: center;
  color: rgb(201, 9, 213);
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: 2em;
  font-family: BlissfulThinking;
}
.ui-dialog-titlebar .ui-button-text {
  display: none;
}
.ui-dialog-titlebar .ui-button-icon-primary {
  background: #000 url(/static/img/close_btn.png) no-repeat center;
  display: block;
  width: 24px;
  height: 24px;
}
.ui-dialog-titlebar .ui-button {
  background: none;
  border: 0;
  position: absolute;
  right: 5px;
  top: 2px;
}
.ui-widget-overlay {
  background-color: #fff;
  opacity: 0.23;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* ]]] book-an-aerialist overlay */

#site-credits {
  position: absolute;
  margin: 0 auto;
  top: -50px;
  width: 100%;
  text-align: center;
  font-size: .833em;
}
#site-credits a,
#site-credits a:visited {
  color: rgb(186, 200, 213);
}
#site-credits a:hover {
  color: #fff;
  text-decoration; underline;
}

.bio-image {
  text-align: center;
  padding-top: 100px;
}
.bio-image img {
  display: block;
  margin: 0 auto;
  width: 200px;
  border: 1px solid #fff;
}
.bio-image .caption {
  font-size: .75em;
  margin-top: 2em;
}

/* 
 * photo viewer style overrides
 */
.blueimp-gallery-carousel {
  padding-bottom: 60% !important;
}
.blueimp-gallery > .slides {
  height: 90% !important;
}

.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  border: none !important;
  font-size: 30px !important;
}

.blueimp-gallery > .play-pause {
  display: none !important;
}

.blueimp-gallery > .title {
  right: 0;
  top: 550px !important;
  text-align: center;
  font-size: 14px;
}
