@font-face {
  font-family: Aracne;
  src: url(/static/fonts/ARACNE_regular.ttf);
}
@font-face {
  font-family: AracneUC;
  src: url(/static/fonts/ARACNE-ULTRA-CONDENSED_regular.ttf);
}
@font-face {
  font-family: MonicasSalon;
  src: url(/static/fonts/MonicasSalonShadowNF.ttf);
}

/* basics */
body {
  margin: 0;
  background-color: #000;
  color: rgb(186, 200, 213);
  font-family: Aracne;
  font-size: 14pt;
}
a {
  text-decoration: none;
}
p {
  margin: .5em 0;
  padding: 0 3em;
}

/* structure */
.supercolumn {
  width: 1400px;
  min-height: 1000px;
  margin: 0 auto;
}
body.page-index .supercolumn {
  background: #000 url(/static/img/front.jpg) no-repeat 100% 0;
}
body.page-contact .supercolumn {
  background: #000 url(/static/img/contact.jpg) no-repeat 100% 0;
}
.column {
  width: 1000px;
  overflow: auto;
  margin: 0 auto;
}
.half-col {
  width: 50%;
  overflow: none;
  float: left;
}
.half-col.first {
  padding-top: 3em;
}

.centered {
  text-align: center;
}

/* elements */
ul#navbar {
  width: 100%;
  overflow: auto;
  padding: 0 150px 0 100px;
  list-style: none;
  border-bottom: 1px solid #fff;
  margin: 0 0 1em 0;
}

ul#navbar li a,
ul#navbar li a:visited {
  width: 150px;
  text-align: center;
  display: block;
  float: left;
  padding: .25em 0;
  color: rgb(186, 200, 213);
}

ul#navbar li a:hover,
ul#navbar li.active a {
  background-color: rgb(45,45,45);
}

.hero-unit {
  padding: .5em;
  margin: 4em 0 8em;
  text-align: center;
}
.hero-unit .lead {
  color: #fff;
  font-variant: small-caps;
  font-family: MonicasSalon;
  font-size: 5em;
  line-height: 1em;
}
.hero-unit .sub {
  text-transform: uppercase;
  font-family: Aracne;
  font-size: 12pt;
  color: rgb(201, 9, 213);
}

.bio-unit {
  font-family: AracneUC;
  font-size: 24pt;
  letter-spacing: 1.6px;
}

.portrait {
  padding-left: 1em;
}
.portrait img {
  width: 630px;
}

.bigdot span {
  color: rgb(201, 9, 213);
  font-size: 5em;
  line-height: .5em;
}

body.page-contact {
}


#book-now {
  position: absolute;
  top: -10px;
  height: 88px;
  width: 130px;
  left: 1055px;
  background: transparent url(/static/img/book_now.png) no-repeat 0 0;
}
#book-now a {
  display: block;
  height: 88px;
  width: 130px;
}
