<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery-ui-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js/interaction.js"></script>
    <link type="text/css" rel="stylehseet" href="/static/jquery/css/jquery-ui.structure.min.css" />
    <link type="text/css" rel="stylehseet" href="/static/jquery/css/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/site.css" />
    {% block extraheader %}{% endblock %}
  </head>
  <body class="page-{{current_page}}">
    <div class="supercolumn">
      <div class="column">
        <ul id="navbar">
          {% for page in nav_pages %}
          <li id="navtab-{{page.id}}"{% if page.id == current_page %} class="active"{% endif %}><a href="{{page.url}}">{{ page.name }}</a></li>
          {% endfor %}
          {# ...and a static page #}
          <li id="navtab-shows"><a href="http://cassandradandra.blogspot.com/">Shows</a></li>
        </ul>
    
        {% block content %}{% endblock %}
      </div>
      <div id="book-dialog" title="Guide to Booking an Aerialist">
        <div class="content">
          <p>Thinking of having an aerialist at your event? Here are a few pointers.</p>

          <ul>
            <li>Cassandra can provide a feature act to a single piece of music, or ambient performance that sets a mood and lasts longer.  For an evening of entertainment, Cassandra can also organize multiple performers.</li>
            <li>Aerial acts require a safe rigging point.  This means access to the ceiling, an exposed structural beam (or professionally installed rigging point), and a minimum ceiling height of 18' for tissu or 20' for rope.  For outdoor performances, please contact for more information.</li>
          </ul>

          <p>Email Cassandra for more information and a quote.</p>

          <p style="text-align: center;"><a href="mailto:cassandra.performs@gmail.com">cassandra.performs@gmail.com</a></p>
        </div>
      </div>  {# /#content #}
    </div>
  </body>
</html>
