<!DOCTYPE html>
<html>
  <head>
    <title>Cassandra Cornell &middot; Circus Artist &middot; Aerial Straps</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery-ui-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js/interaction.js"></script>
    <link type="text/css" rel="stylehseet" href="/static/jquery/css/jquery-ui.structure.min.css" />
    <link type="text/css" rel="stylehseet" href="/static/jquery/css/jquery-ui.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/site.css" />
    {% block extraheader %}{% endblock %}
  </head>
  <body class="page-{{current_page}}">
    <h1 class="superheader">Cassandra Cornell, unusually tall circus artist specializing in aerial straps and contemporary circus</h1>
    <div class="supercolumn">
      <div class="column">
        <ul id="navbar">
          {% for page in nav_pages %}
          <li id="navtab-{{page.id}}"{% if page.id == current_page %} class="active"{% endif %}><a href="{{page.url}}">{{ page.name }}</a></li>
          {% endfor %}
        </ul>
    
        {% block content %}{% endblock %}
      </div>
      <div id="book-dialog" title="Contact Cassandra">
        <div class="content centered">
          Send an email to <a href="mailto:cassandra.performs@gmail.com">cassandra.performs@gmail.com</a> for booking or info.
        </div>
      </div>  {# /#content #}
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55242810-1', 'auto');
        ga('send', 'pageview');

      </script>
  </body>
</html>
