{% extends "_base.html" %}

{% block content %}
<div class="two-thirds-col centered first">
  <p>Cassandra is an acrobat based in San Francisco, and specializes in expressive, dynamic dance on aerial rope and straps.  Her style is informed by her especially long limbs, her strength, and her use of momentum.  Her acts combine a knowledge of high-level tricks with a sense of fluidity and grace. She also is an instructor of aerial fabric, rope, and hammock.<br/><br/>
  Cassandra first appeared on stage in the womb. As a young child in a dancing family, she started learning dance technique at a very early age, and developed a life-long love for choreography and performance.  In high school, Cassandra wrote dances for herself and others that were performed at theater events on numerous occasions.  She continued her studies at Bard College's dance program, and studied expressive choreography under the legendary Aileen Passloff.  In 2009 she moved to San Francisco to train with the circus.  After a four year intensive program of study under acrobatic coach Dominik Wyss, and working with dozens of other renowned coaches including Elena Panova, the famed Russian trapeze artist, she began performing on rope with the Vau de Vire Society as a company member.  She has since undertaken the study of aerial straps, and spent time in Mexico training under straps innovator Juan Luis Gonzales. 
  </p>
  <p class="bigdot"><span>&middot;</span></p>
  <h3>Expertise:</h3>
  <ul>
    <li>Aerial Rope</li>
    <li>Aerial Rope</li>
    <li>Aerial Tissue</li>
    <li>Dance</li>
  </ul>

  <p class="bigdot"><span>&middot;</span></p>
  <h3>Performances Include:</h3>
  <ul>
    <li><a href="http://vaudeviresociety.com/">Vau De Vire Society, company member</a></li>
    <li><a href="http://edwardianball.com/">Edwardian Ball, San Francisco and LA</a></li>
    <li><a href="http://www.ybca.org/">Yerba Buena Center for the Arts</a></li>
    <li><a href="http://napavalleyfilmfest.org/">Napa Valley Film Festival</a></li>
    <li><a href="http://treatsocialclub.com/">Treat St. Social Club</a></li>
    <li><a href="http://www.kineticcarnivale.com/">Kinetic Carnivale</a></li>
    <li><a href="http://www.lagunitas.com/beercircus/">Lagunitas Beer Festival</a></li>
    <li><a href="http://www.deschutesbrewery.com/">Deschutes Brewery</a></li>
  </ul>
  <br/>

  <h3>Corporate and Private clients include:</h3>
  <ul>
    <li>CANVAS (Concierge Alliance Napa Valley and Sonoma)</li>
    <li>Cognizant</li>
    <li>The wedding of Whitney and Richard</li>
  </ul>

  <p class="bigdot"><span>&middot;</span></p>
  <h3>Teaches at: </h3>
  <ul>
    <li><a href="http://www.kineticartscenter.com/">Kinetic Arts Center</a></li>
    <li><a href="http://www.zaccho.org/">Zaccho Dance Theatre</a></li>
    <li>Private Lessons available</li>
  </ul>
  <p class="bigdot"><span>&middot;</span></p>
  <p>Email&nbsp;&nbsp;<a href="mailto:cassandra.performs@gmail.com">cassandra.performs@gmail.com</a></p>
</div>
<div class="thirds-col">
</div>
{% endblock %}
