{% extends "_base.html" %}

{% block content %}
<div class="two-thirds-col centered first">
  <p>Cassandra is an unusually tall aerialist specializing in a dynamic act on aerial straps as well as other aerial apparatus. Her style is informed by especially long limbs, strength, and use of momentum. In her circus acts, she emphasizes expressive choreography, alongside a dancer’s sense of fluidity and grace.  Her technique is informed by the Russian tradition of aerial straps as learned from the renowned coach Victor Fomine at his school in Montreal, Canada.  She also is an instructor of aerial fabric, rope, and hammock, and is based in San Francisco, and part-time in Montreal.<br/><br/>
Cassandra first appeared on stage in the womb. As a young child in a dancing family, she started learning dance technique at a very early age, and developed a life-long love for creativity and performance. She pursued dance at Bard College's dance program, and studied choreography under the former ballerina Aileen Passloff. After a four year intensive program of acrobatic study under coach Dominik Wyss in San Francisco, and independent study with other coaches including Elena Panova (award winning trapeze artist), she began working as a performer with the Vau de Vire Society as a company member in 2014.  Since then she has been featured on aerial straps at the FINA World Championships in Budapest, Hungary. 
  </p>
  <p class="bigdot"><span>&middot;</span></p>
  <h3>Expertise:</h3>
  <p>Aerial Straps &middot; Aerial Rope &middot; Aerial Tissue &middot; Dance</p>

  <p class="bigdot"><span>&middot;</span></p>
  <h3>Performances Include:</h3>
  <ul>

    <li><a href="https://finalshow.fina-budapest2017.com/">FINA World Championships Closing Ceremony, Budapest</a></li>
    <li><a href="http://vaudeviresociety.com/">Vau De Vire Society, company member</a></li>
    <li><a href="http://www.ybca.org/">Yerba Buena Center for the Arts</a></li>
    <li><a href="http://napavalleyfilmfest.org/">Napa Valley Film Festival</a></li>
    <li><a href="http://treatsocialclub.com/">Treat St. Social Club</a></li>
    <li><a href="http://www.lagunitas.com/beercircus/">Lagunitas Beer Festival</a></li>
  </ul>
  <br/>

  <h3>Corporate Audiences Include:</h3>
  <ul>
    <li>Google</li>
    <li>CANVAS (Concierge Alliance Napa Valley and Sonoma)</li>
    <li>Beta Brand</li>
    <li>...and private weddings</li>
  </ul>

  <p class="bigdot"><span>&middot;</span></p>
  <h3>Teaches at: </h3>
  <p><a href="http://www.kineticartscenter.com/">Kinetic Arts Center</a> &middot; <a href="http://www.zaccho.org/">Zaccho Dance Theatre</a> &middot; Private Lessons available</p>
  </ul>
  <p class="bigdot"><span>&middot;</span></p>
  <p>Email <a href="mailto:cassandra.performs@gmail.com">cassandra.performs@gmail.com</a></p>
</div>
<div class="thirds-col">
</div>
{% endblock %}
