{% extends "_base.html" %}

{% block content %}
<div class="two-thirds-col centered first">
  <h2><a href="/static/img/CassandraCornellCV.pdf">Download CV here</a></h2>
  <p class="bigdot"><span>&middot;</span></p>
  <p>I first went on stage in my mother’s womb. As a child in a family of dancers, I yearned for the black marley and the hot incandescent lights. Every idea was worthy of expression through dance.<br/><br/>
  If we meet, chances are you will probably remark that I’m very tall. On aerial straps, I present an unusual combination of extraordinarily long limbs and momentum based acrobatics. To me performance is a celebration, and the movements I have cultivated on straps derive from the pure joy of flight. I delight in sharing this joy with my audiences. I also use my creative work to express ferocity, and to explore lesser known, bold and strong aspects of femininity.<br/><br/>
  I learned straps and acrobatics under the tutelage of many phenomenal coaches to whom I am eternally grateful, but the bulk of my training was with Chloe Farah and Victor Fomine in Montreal.<br/><br/>
  From Las Vegas to Macau, I have performed in shows around the world in styles varying from circus tent to cabaret to 20-meter-high arena. I also have done work on aerial rope, fabric, and as an ensemble dancer.</p>
  <p class="bigdot"><span>&middot;</span></p>
  <h3>Expertise:</h3>
  <p>Aerial Straps &middot; Aerial Rope &middot; Dance</p>

  <p class="bigdot"><span>&middot;</span></p>
  <p>Email <a href="mailto:cassandra.performs@gmail.com">cassandra.performs@gmail.com</a></p>
</div>
<div class="thirds-col">
</div>
{% endblock %}
