{% extends "_base.html" %}

{% block content %}
<div class="half-col centered first">
  <p>Cassandra first appeared on stage in the womb.  The stage tracked her through youth as a dancer and deposited her in San Francisco to train with the circus.  She now performs and makes art on rope and aerial fabric, and specializes in wielding her striking height at high velocity.  Her imagination thrives between 20 and 30 feet above ground, where she grapples with human limitations and seeks glimpses of the sublime.</p>
  <p class="bigdot"><span>&middot;</span></p>
  <h3>Expertise:</h3>
  <ul>
    <li>Aerial Rope</li>
    <li>Aerial Tissue</li>
    <li>Dance</li>
  </ul>

  <p class="bigdot"><span>&middot;</span></p>
  <h3>Performances Include:</h3>
  <ul>
    <li>Vau De Vire Society, company member</li>
    <li>Yerba Buena Center for the Arts</li>
    <li>Treat St. Social Club</li>
    <li>DNA Lounge, SF</li>
    <li>Kinetic Carnivale</li>
  </ul>

  <h3>Corporate and Private clients include:</h3>
  <ul>
    <li>CANVASS (Concierge Alliance Napa Valley and Sonoma)</li>
    <li>Cognizant</li>
    <li>The wedding of Whitney and Richard</li>
  </ul>

  <p class="bigdot"><span>&middot;</span></p>
  <h3>Teaches at: </h3>
  <ul>
    <li>Kinetic Arts Center</li>
    <li>Zaccho Dance Theatre</li>
    <li>Private Lessons available</li>
  </ul>
  <p class="bigdot"><span>&middot;</span></p>
  <p>Email&nbsp;&nbsp;<a href="mailto:dandra.cassandra@gmail.com">dandra.cassandra@gmail.com</a></p>
</div>
<div class="half-col">
  <div class="bio-image">
    <img src="/static/img/bio_sidebar.jpg" />
    <div class="caption">Body art by C-Squared<br/>Photo by Eric Gillet</div>
  </div>
</div>
{% endblock %}
