{% extends "_base.html" %}

{% block content %}
<div class="half-col centered first">
  <p>Aerial acts are a beautiful and distinguished choice of entertainment For your event.  Cassandra provides atmospheric or feature acts at Venues that meet rigging qualifications.  Please email for more information and a quote.</p>
  <p class="bigdot"><span>&middot;</span></p>
  <p>Email<br/><a href="mailto:dandra.cassandra@gmail.com">dandra.cassandra@gmail.com</a></p>
  <p class="bigdot"><span>&middot;</span></p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>SITE CREDITS<br/>
  Photography by Shoot That Clown<br/>
  Web genius by <a href="http://www.hoprocker.net/">hoprocker</a><br/>
  </p>
</div>
<div class="half-col">
  &nbsp;
</div>
{% endblock %}
