{% extends "_base.html" %}

{% block extraheader %}
{% endblock %}

{% block content %}
<div class="thirds-col centered photo-thumb">
  <a href="/photos_rjmuna">
    <img src="/static/img/photos_thumbnail_rjmuna.jpg" />
    <div class="caption">
      <p>Photos from RJ Muna</p>
    </div>
  </a>
</div>
<div class="thirds-col centered photo-thumb">
  <a href="/photos_vaudevire/">
    <img src="/static/img/photos_thumbnail_vaudevire.jpg" />
    <div class="caption">
      <p>Photos from Vau de Vire</p>
    </div>
  </a>
</div>
<div class="thirds-col centered photo-thumb">
  <a href="/photos_other/">
    <img src="/static/img/photos_thumbnail_other.jpg" />
    <div class="caption">
      <p><br/>shows</p>
    </div>
  </a>
</div>
{% endblock %}
