{% extends "_base.html" %}

{% block content %}
<div class="half-col">
  <div class="hero-unit">
    <div class="lead">CassandraDandra</div>
    <div class="sub">Aerialist &middot; Distinguished Circus entertainment</div>
  </div>
  <div class="bio-unit">
    Cassandra First appeared on stage in the womb.  She began to study movement after birth, and has since trained with many great teachers from across the globe.  She now performs and makes art on rope and aerial fabric, and specializes in wielding her striking height at high velocity.  Her imagination thrives between 20 and 30 feet above ground, where she grapples with human limitations and seeks glimpses of the sublime.
  </div>
</div>
<div class="half-col">
  <div class="portrait">
    <img src="/static/img/front.jpg" />
  </div>
</div>
{% endblock %}
