{% extends "_base.html" %}

{% block extraheader %}
<script type="text/javascript">
  $(document.body).ready(function() {
    var top = $("body .supercolumn").height() - $("#site-credits").height() - 5;
    var left = 0;
    $("body .supercolumn").append($("#site-credits").detach());
    $("#site-credits").offset({top:top, left:"0px"});
    console.log("loaded");
  });
</script>
{%endblock %}

{% block content %}
<div>
  <div class="hero-unit">
    <img alt="Cassandra Cornell" src="/static/img/main_logo.png" />
    <p class="lead">Circus Artist</p>
  </div>
</div>
{#<div id="site-credits">
  Photography by Josh Bowers |
  Web genius by <a class="credit" href="http://www.hoprocker.net/">hoprocker</a></div>
</div>#}
{% endblock %}
