{% extends "_base.html" %}

{% block extraheader %}
<link type="text/css" rel="stylesheet" href="/static/css/blueimp-gallery.css" />
<script type="text/javascript">
  $(document).ready(function() {
      blueimp.Gallery(
        //$.map($("#images").find("a"), function(el, i) { return el; }),
        [{% for slide in slides %}{"title":"{{slide.title}}","href":"{{slide.href}}"}{% if not loop.last %},{% endif %}{% endfor %}],
        {
          container: "#photo-viewer",
          startSlideshow: false,
          carousel: true
        }
        );

      $("#photo-viewer")
    });
</script>
{% endblock %}

{% block content %}
<div id="photo-viewer" class="blueimp-gallery blueimp-gallery-carousel blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">&lt;</a>
  <a class="next">&gt;</a>
  <a class="play-pause"></a>
</div>
<script type="text/javascript" src="/static/js/blueimp-helper.js"></script>
<script type="text/javascript" src="/static/js/blueimp-gallery-modified.js"></script>
<script type="text/javascript" src="/static/js/jquery.blueimp-gallery.js"></script>
{% endblock %}
